{% extends 'base.html.twig' %}


{% block contenu %}
<ul class="list-group">
	<li class="list-group-item center">
		{{stage.titre}}
	</li>
	<li class="list-group-item"><strong>Descriptif :</strong> {{stage.description}} </li>
	<li class="list-group-item"><strong>Email :</strong> {{stage.email}} </li>
	<li class="list-group-item"><strong>Nom de l'entreprise :</strong> {{stage.entreprise.nom}} </li>
	<li class="list-group-item"><strong>Formation concernée :</strong>
		{% for formationCourante in stage.formations %}
			{{ formationCourante.nom }}
		{% endfor %}
	</li>
</ul>
{% endblock %}
